.page-content {
    padding: 0px;
}
nav.page-header {
    padding-right: 50px !important;
    padding-left: 50px !important;
    background-color: #141424 !important;
}
.page-content-intro {
    /*padding-right: 100px !important;*/
    /*padding-left: 100px !important;*/
    background-color: #141424 !important;
}
.intro-title {
    /*font-size: 20px !important;*/
    font-weight: bold !important;
    width: inherit;
    max-width: 700px !important;
    word-wrap: break-word !important;
}
.intro-others {
    font-size: 13px;
}
.main-body {
    /*padding-right: 50px !important;*/
    /*padding-left: 50px !important;*/
}
.package-details {
    padding: 10px 12px 10px 12px !important;
    cursor: pointer;
    border-radius: 3px;
}
.package-details:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.package-items {
    padding: 0px;
    color: grey;
    font-size: 12px;
    word-wrap: break-word;
    height: 40px;
    white-space: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}
.package-items span {
    margin-right: 8px;
}
.package-items span i {
    margin-right: 3px;
}
.package-details-container {
    /*padding-left: 0px !important;*/
    margin-bottom: 13px;
}
.package-details-container:hover {
    /*background-color: white !important;*/
    /*box-shadow: 3px 3px 1px #aaaaaa;*/
}
.place-bid {
    background-color: inherit;
    color: #03C6C1;
    border-color: #03C6C1;
}
.place-bid:hover {
    background-color: #03C6C1;
    color: white;
}
.view-listing {
    background-color: #3498DB;
    color: white !important;
}
.view-listing:hover {
    background-color: #2874A6;
} 
#create-a-package {
    width: 100%;
    height: 100%;
}
#create-a-package i {
    font-size: 50px;
}
#create-a-package:hover {
    color: #03C6C1 !important;
    transition: width 2s;
    transition-timing-function: ease-in;
}
.edit-package, .delete-package, .view-listing, .view-bids, .call-agent {
    margin-bottom: 5px;
}
.package-description {
    font-size: 15px;
    height: 91px !important;
    white-space: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}
.package-description a {
    text-decoration: none;
    color: inherit;
}
.package-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px 0px 10px 0px;
    font-size: 20px;
    text-transform: capitalize;
}
.page-header-item {
    color: white !important;
}
.website-title {
    color: white !important;
}

/* MENU */
.profile-menu-bar {
    width: 280px !important;
    height: 100vh !important;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    /*margin: 56px auto;*/
    margin-bottom: 0px !important;
    width: inherit;
    transition: all ease 0.25s;
    transform: translateX(-100%); 
    z-index: 2000; 
    background-color: #141424 !important;
}

.main-body {
    margin-top: 10px !important;
    padding-top: 0px !important;
    margin-bottom: 10px;
    padding: 0px 30px 0px 30px;
}

.profile-header {
    background-color: #141424 !important;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 1px;
    transition: all ease 0.25s;
    transform: translateX(0);
}

@media (min-width: 992px) {
    .profile-menu-bar {
        transform: translateX(0);
        /*margin: 73px auto;*/
    }

    .main-body {
        margin-left: 280px;
    }

    .profile-header {
        transition: all ease 0.25s;
        transform: translateX(-100%); 
        position: fixed;
    }
}

/* BIDS */
.view-bids {
    color: white;
    border-color: #03C6C1;
    background-color: #03C6C1;
}

.view-bids:hover {
    color: white;
    opacity: .9;
}

/*PROFILE*/
#phone-code {
    min-width: 40px;
}

/*BIDS*/
.agent-offer {
    padding: 2px 5px 2px 5px;
    border-radius: 5px; 
    line-height: 25px;
    cursor: pointer;
}

.agent-offer:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, 
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, 
    rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.call-agent {
    background-color: #03C6C1;
    color: white;
    border-color: #03C6C1;
}
.call-agent:hover {
    color: white;
}